<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>{{ helpticket.title }}</title>

<body itemscope itemtype="http://schema.org/CreativeWork/HelpTicket"
                vocab="http://schema.org/"
                prefix="helpdesk:https://rawgit.com/sils-webinfo/helpdesk/master/vocab.ttl#"
                typeof="helpdesk:HelpTicket">

<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>
<a href="http://getschema.org/microdataextractor?url={{ request.url }}&out=json">
view data extracted from microdata markup</a><br>  
<a href="{{ request.path }}.json">
view data as JSON-LD</a>

<h1 class="title" itemprop="name" property="name">{{ helpticket.title }}</h1>  

<p class="description" itemprop="description" property="description">{{ helpticket. description }}</p>

<p class="from" itemprop="creator" itemscope itemtype="http://schema.org/Person"
   property="creator" typeof="Person">>
  <span itemprop="email" property="email">{{ helpticket.from }}</span>
</p>

<time itemprop="dateCreated" property="dateCreated"
      datetime="{{ helpticket.time }}">{{ helpticket.time }}</time>

<form class="helpticket-editor" method="patch">
  <label>priority
  <select name="priority">
    {% for value, label in priorities %}
    <option value="{{ value }}" {% if helpticket.priority == value %}selected{% endif %}>
      {{ label }}
    </option>
    {% endfor %}
    </select>
  </label>
  <br>

  <label>comments<br>
    <ul>
      {% for comment in helpticket.comments %}
      <li itemprop="comment" itemscope itemtype="http://schema.org/Comment"
          property="comment" typeof="Comment">
        <p itemprop="text" property="text">{{ comment }}</p>
      </li>
      {% endfor %}
    </ul>
    <textarea name="comment"></textarea>
  </label>
  <br>
  <input class="update" type="submit" value="update help ticket">
  <script>
    var form = document.querySelector('form.helpticket-editor');
    var button = document.querySelector('form.helpticket-editor input.update');

    button.addEventListener('click', function (event) {
      event.preventDefault();
      var request = new XMLHttpRequest();
      request.open('PATCH', window.location.pathname);
      request.onreadystatechange = function () {
        if (XMLHttpRequest.DONE === request.readyState 
            && 200 === request.status) {
          window.location.reload(true);
        }
      }
      request.send(new FormData(form));
    }, false);
  </script>
</form>

<a rel="collection" href="{{ url_for('helpticketlist') }}">all help tickets</a>
</body>
