<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>{{ helprequest.title }}</title>
<body itemscope itemtype="http://schema.org/CreativeWork/HelpRequest"
                vocab="http://schema.org/" typeof="CreativeWork">
<a href="http://www.w3.org/2012/pyRdfa/extract?uri=referer">
view data extracted from RDFa markup</a><br>
<a href="http://getschema.org/microdataextractor?url={{ request.url }}&out=json">
view data extracted from microdata markup</a>  
<a href="{{ request.path }}.json">
view data as JSON-LD</a>
<h1 class="title" itemprop="name" property="name">{{ helprequest.title }}</h1>  
<p class="description" itemprop="description" property="description">{{ helprequest. description }}</p>
<p class="from" itemprop="creator" itemscope itemtype="http://schema.org/Person"
   property="creator" typeof="Person">>
  <span itemprop="email" property="email">{{ helprequest.from }}</span>
</p>
<time itemprop="dateCreated" property="dateCreated">{{ helprequest.time }}</time>
<form class="help-request-editor" method="patch">
  <label>priority
  <select name="priority">
    {% for value, label in priorities %}
    <option value="{{ value }}" {% if helprequest.priority == value %}selected{% endif %}>
      {{ label }}
    </option>
    {% endfor %}
    </select>
  </label>
  <br>
  <label>comments<br>
    <ul>
      {% for comment in helprequest.comments %}
      <li itemprop="comment" itemscope itemtype="http://schema.org/Comment"
          property="comment" typeof="Comment">
        <p itemprop="text" property="text">{{ comment }}</p>
      </li>
      {% endfor %}
    </ul>
    <textarea name="comment"></textarea>
  </label>
  <br>
  <input class="update" type="submit" value="update help request">
  <script>
    var form = document.querySelector('form.help-request-editor');
    var button = document.querySelector('form.help-request-editor input.update');

    button.addEventListener('click', function (event) {
      event.preventDefault();
      var request = new XMLHttpRequest();
      request.open('PATCH', window.location.pathname);
      request.send(new FormData(form));
    }, false);
  </script>
</form>
<a rel="collection" href="{{ url_for('helprequestlist') }}">all open help requests</a>
</body>
