<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>{{ request.title }}</title>
<h1 class="title">{{ request.title }}</h1>  
<p class="description">{{ request. description }}</p>
<p class="from">{{ request.from }}</p>
<time>{{ request.time }}</time>
<form class="request-editor" method="post">
  <label>priority
  <select name="priority">
    {% for priority in [ "high", "normal", "low", "closed" ] %}
    <option {% if request.priority == priority %}selected{% endif %}>
      {{ priority }}
    </option>
    {% endfor %}
    </select>
  </label>
  <br>
  <label>comments<br>
    <textarea name="comments">{{ request.comments }}</textarea>
  </label>
  <br>
  <input class="update" type="submit" value="update request">
</form>
<a rel="collection" href="/requests">all open help requests</a>
