<!doctype html>
<link rel="alternate" type="application/json" href="{{ request.path }}.json">
<title>All open help requests</title>
<a href="/requests?sort-by=priority">sort by priority</a>
<form class="search" action="/requests" method="get">
  <input name="q" type="text">
  <input class="query" type="submit">
</form>
<ol>
  {% for request_id, request in requests.iteritems() %}
  <li>
    <time>{{ request.time }}</time>
    <a rel="item" href="{{ url_for('helprequest', request_id=request_id) }}">
      {{ request.title }}
    </a>
  </li>
  {% endfor %}
</ol>
<a rel="next" href="/requests/2">next page</a>
<form class="request-editor" action="/requests" method="post">
  <label>from
    <input name="from" type="text">
  </label>
  <label>title
    <input name="title" type="text">
  </label>
  <textarea name="description"></textarea>
  <input class="create" type="submit" value="create new request">
</form>
